<span class="alert alert-light mt-1 mb-3 p-0 mx-2" >
    <button class="btn btn-outline-secondary px-1" @onclick=DecrementWeek>⯇</button>
    <span class="mx-2 text-dark"> @Week[0].ToString("m") - @Week[6].ToString("m") </span>
    <button class="btn btn-outline-secondary px-1" @onclick=IncrementWeek>⯈</button>
</span>

@code {
    [Parameter]
    public DateTime[] Week { get; set; }
    
    [Parameter]
    public EventCallback DecrementWeek { get; set; }
    
    [Parameter]
    public EventCallback IncrementWeek { get; set; }
}
