<span class="alert alert-light mt-1 mb-3 p-0 mx-2" >
    <button class="btn btn-outline-secondary px-1" @onclick=Decrement>⯇</button>
    <span class="mx-2 text-dark"> @Date </span>
    <button class="btn btn-outline-secondary px-1" @onclick=Increment>⯈</button>
</span>

@code {
    [Parameter]
    public string Date { get; set; }
    
    [Parameter]
    public EventCallback Decrement { get; set; }
    
    [Parameter]
    public EventCallback Increment { get; set; }
}
