<footer class="border-top footer text-muted">
    <div class="container" style="max-width:80%;">
        &copy; 2022 - DailyApplication - <NavLink href="privacy">О сайте</NavLink>
    </div>
</footer>