@inject DailyApplication.Controllers.EventsController _eventController;

<div>
    <input @bind="@ChangeSub" class="alert alert-secondary" role="alert" />
    <input type="checkbox" @onchange="@(() => Done(SubEvents[Index].Id))"/>
</div>

@code {
    [Parameter]
    public List<Sub_event> SubEvents { get; set; }

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public EventCallback<List<Sub_event>> CallBack { get; set; }


    private string ChangeSub
    {
        get => SubEvents[Index].Description;
        set
        {
            SubEvents[Index].Description = value;
            CallBack.InvokeAsync(SubEvents);
        }

    }

    private async void Done (int Id)
    {
        await _eventController.DoneSubEvent(Id);
    }
}
