@inject DailyApplication.Controllers.EventsController _eventController;

<div class="d-flex align-items-center justify-content-between">
    <div>
        <input @bind="@ChangeSub" class="alert alert-secondary" role="alert" />
        <CheckBox Index=Index SubEvents=SubEvents cb=DoneSub />
    </div>
    <button class="btn btn-danger" @onclick="(() => DeleteSub(SubEvents[Index]))">&times;</button>
</div>

@code {
    [Parameter]
    public List<Sub_event> SubEvents { get; set; }

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public EventCallback<List<Sub_event>> CallBack { get; set; }

    private string ChangeSub
    {
        get => SubEvents[Index].Description;
        set
        {
            SubEvents[Index].Description = value;
            CallBack.InvokeAsync(SubEvents);
        }
    }

    private void DoneSub (bool isDone)
    {
        SubEvents[Index].isDone = isDone;
        CallBack.InvokeAsync(SubEvents);
    }

    private async Task DeleteSub (Sub_event subEvent)
    {
        await _eventController.DeleteEventSubEvents(subEvent.Id);
        SubEvents.Remove(subEvent);
        await CallBack.InvokeAsync(SubEvents);
    }
}