@inherits LayoutComponentBase

<div class="page">
    <Navbar />

    <div class="container" style="max-width:80%;">
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>

    <Footer />
</div>
