<div class="modal mt-5" tabindex="-1" role="dialog" style="display:flex;" @onmousedown=Toggle>
    <div class="modal-dialog" role="document" @onmousedown:stopPropagation>
        <div class="modal-content" style="min-width:600px;">
            @ChildContent
        </div>
    </div>
</div>
<div class="modal-backdrop fade show"></div>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public EventCallback Toggle { get; set; }
}