<div class="modal mt-5" tabindex="-1" role="dialog" style="display:@Display;" @onclick=Toggle>
    <div class="modal-dialog" role="document" @onclick:stopPropagation>
        <div class="modal-content" style="min-width:600px;">
            @ChildContent
        </div>
    </div>
</div>


@if (ShowBackDrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Collapse { get; set; }

    [Parameter]
    public EventCallback Toggle { get; set; }

    //private bool ShowBackDrop = false;

    #nullable enable
    private string? Display => Collapse ? "flex" : "none";
    private bool ShowBackDrop => Collapse ? true : false;

}