@using System.Security.Claims
@inject DailyApplication.Controllers.GroupsController _groupsController

@if(OpenInvite)
{
    <Modal Toggle="(() => OpenInvite = !OpenInvite)" >
        <OpenInvite Toggle="(() => OpenInvite = !OpenInvite)" Group=OpenGroup Accept=Accept Deny=Deny/>
    </Modal>
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container px-0" style="max-width:80%;">
            <NavLink class="navbar-brand" href="" Match="NavLinkMatch.All">
                DailyApplication
            </NavLink>
            <button class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex justify-content-between" @onclick="ToggleNavMenu">
                <ul class="navbar-nav flex-grow-1">
                    <AuthorizeView>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="events">
                                События
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="groups">
                                Команды
                            </NavLink>
                        </li>
                    </AuthorizeView>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="about">
                            О сайте
                        </NavLink>
                    </li>
                </ul>
                <AuthorizeView>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" @onclick="(()=>show = !show)">
                                    @invites.Count
                                </button>
                                <div class="dropdown-menu @showDropDown" aria-labelledby="dropdownMenuButton">
                                    @if(invites.Count == 0)
                                    {
                                        <div class="dropdown-item" @onclick="(()=>show = !show)">
                                            Нет приглашений
                                        </div>
                                    }
                                    else
                                    {
                                        foreach (var group in invites)
                                        {
                                            <div class="dropdown-item" @onclick="(() => {
                                                OpenGroup = group;
                                                OpenInvite = !OpenInvite;
                                                })">
                                                @group.Name
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </li>
                    </ul>
                </AuthorizeView>
                <LoginDisplay />
            </div>
        </div>
    </nav>
</header>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [CascadingParameter(Name = "invites")]
    public List<Group> invites { get; set; }
    
    [CascadingParameter(Name = "groups")]
    public List<Group> groups { get; set; }

    private bool show = false;
    #nullable enable
    private string? showDropDown => show ? "show" : null;
    private bool collapseNavMenu = true;

    #nullable enable
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    ClaimsPrincipal? currentUser;

    protected async override Task OnInitializedAsync()
    {
        AuthenticationState currentAuth = await authenticationStateTask;
        currentUser = currentAuth.User;
    }

    private bool OpenInvite = false;
    private Group? OpenGroup;

    private async void Accept(Group group)
    {
        invites.Remove(group);
        if (invites.Count == 0)
            show = !show;
        groups.Add(group);
        await _groupsController.UserAgree(currentUser, group);
    }

    private async void Deny(Group group)
    {
        invites.Remove(group);
        if (invites.Count == 0)
            show = !show;
        await _groupsController.UserDisagree(currentUser, group);
    }
}