@inject DailyApplication.Controllers.GroupsController _groupsController

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container px-0" style="max-width:80%;">
            <NavLink class="navbar-brand" href="" Match="NavLinkMatch.All">
                DailyApplication
            </NavLink>
            <button class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex justify-content-between" @onclick="ToggleNavMenu">
                <ul class="navbar-nav flex-grow-1">
                    <AuthorizeView>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="events">
                                События
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="groups">
                                Команды
                            </NavLink>
                        </li>
                    </AuthorizeView>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="about">
                            О сайте
                        </NavLink>
                    </li>
                </ul>
                <AuthorizeView>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" @onclick="(()=>show = !show)">
                                    @invites.Count
                                </button>
                                <div class="dropdown-menu @showDropDown" aria-labelledby="dropdownMenuButton">
                                    <div class="dropdown-item" @onclick="@(() => show = false)">
                                        @*@if (userGroups.user)*@
                                        @*@foreach (var group in invites)
                                        {
                                            <div>
                                                @group.Name
                                            </div>
                                        }*@
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </AuthorizeView>
                <LoginDisplay />
            </div>
        </div>
    </nav>
</header>

@code {
    [CascadingParameter(Name = "invites")]
    public List<Group> invites { get; set; }

    private bool show = false;
    #nullable enable
    private string? showDropDown => show ? "show" : null;
    private bool collapseNavMenu = true;

    #nullable enable
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}