
    <button
        class="btn btn-outline-dark"
        @onclick="@(() => View.InvokeAsync("D"))"
    >
        D
    </button>
    <button
        class="btn btn-outline-dark"
        @onclick="@(() => View.InvokeAsync("W"))"
    >
        W
    </button>
    <button
        class="btn btn-outline-dark"
        @onclick="@(() => View.InvokeAsync("M"))"
    >
        M
    </button>

@code {
    [Parameter]
    public EventCallback<string> View { get; set; }
}
