@inject DailyApplication.Controllers.GroupsController _groupsController;

@if(Edit)
{
    <form>
        <div class="modal-header">
                <div class="form-group">
                    <label class="control-label">Название</label>
                    <input class="form-control" placeholder="Название" @bind=groups[Index].Name />
                    <span class="text-danger"></span>
                </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick=Toggle>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="control-label">Описание</label>
                <input type="text" class="form-control" placeholder="Описание" @bind=groups[Index].Description />
                <span class="text-danger"></span>
            </div>
            @*<p class="font-weight-bold">Описание:</p>
            <div class="my-1">
                @if (groups[Index].Description != null && groups[Index].Description != "")
                {
                    <p class="card-text">
                        @groups[Index].Description
                    </p>
                }
                else
                {
                    <p class="card-text">
                        Нет описания
                    </p>
                }
            </div>*@
            <div class="form-group">
                <p class="font-weight-bold">Пользователи:</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="(() => Edit = !Edit)">Изменить</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="(() => {
                Delete.InvokeAsync(groups[Index]);
                Toggle.InvokeAsync();
                })">Удалить</button>
        </div>
    </form>
}
else
{
    <div class="modal-header">
        <h5 class="modal-title">@groups[Index].Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick=Toggle>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="font-weight-bold">Описание:</p>
        <div class="my-1">
            @if (groups[Index].Description != null && groups[Index].Description != "")
            {
                <p class="card-text">
                    @groups[Index].Description
                </p>
            }
            else
            {
                <p class="card-text">
                    Нет описания
                </p>
            }
        </div>
        <div class="form-group">
            <p class="font-weight-bold">Пользователи:</p>
            @foreach(var user in Users)
            {
                <p>@user</p>
            }
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="(() => Edit = !Edit)">Изменить</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="(() => {
            Delete.InvokeAsync(groups[Index]);
            Toggle.InvokeAsync();
            })">Удалить</button>
    </div>
}

@code {
    [CascadingParameter(Name = "groups")]
    protected List<Group> groups { get; set; }

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public EventCallback Toggle { get; set; }

    [Parameter]
    public EventCallback<Group> Delete { get; set; }

    private List<User> Users;

    private bool Edit = false;

    protected async override Task OnInitializedAsync()
    {
        Users = await _groupsController.GetAllUsersInGroup(groups[Index]);
    }
}
