@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Персональные данные";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Ваш аккаунт содержит в себе данные, которые вы нам предоставили. Данная страница предназначена для того, чтобы вы могли изменить или удалить эти данные.</p>
        <p>
            <strong>Удаление этих данных приведет к удалению аккаунта. Отменить данное действие будет невозможно.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Загрузить</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">Удалить</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
