@inject DailyApplication.Controllers.EventsController EventService;

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form @onsubmit=AddEvent>
            <div class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"></label>
                <input class="form-control" placeholder="Название" @bind=eventName/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input type="textarea" class="form-control" placeholder="Описание" @bind=eventDescription/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input @bind:format="yyyy-MM-ddTHH:mm" type="datetime-local" class="form-control" placeholder="Время окончания" @bind=eventDeadline/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" @onclick=AddEvent/>
            </div>
        </form>
    </div>
</div>

<div>
    <NavLink class="" href="events">
        Back to List
    </NavLink>
</div>

@code {
    [Parameter]
    public EventCallback Toggle { get; set; }

    private string eventName;
    private string eventDescription;
    private DateTime eventDeadline = DateTime.Now;

    private void AddEvent()
    {
        if(!string.IsNullOrWhiteSpace(eventName))
        {
            EventService.CreateEvent(eventName, eventDescription, eventDeadline);

            eventName = string.Empty;
            eventDescription = string.Empty;
            eventDeadline = DateTime.Now;
        }
    }
}
