@inject DailyApplication.Controllers.EventsController _eventsController

<div class="alert @alertStyle overflow-hidden " style="height:11vh; border:solid 1px" @onmouseover=ToggleCreateBtn @onmouseout=ToggleCreateBtn>
@*<div class="container rounded border border-dark px-3 pt-2" style="height:11vh;">*@
    @Date.ToString("m")
    @foreach (Event item in Events)
    {
        @if (item.DeadlineTime.ToString("MM/dd/yyyy") == Date.ToString("MM/dd/yyyy"))
        {
            <EventBox Item="@item" DeleteEvent="@DeleteEvent" />
        }
    }
    <OnHoverBox collapseHover=@collapseCreateHover>
        <div class="d-inline-block justify-content-center w-100 h-100">
            <button class="btn btn-outline-light mt-1 mb-3 w-100 h-100" @onclick="(() => OpenCreateBox.InvokeAsync(Date))">+</button>
        </div>
    </OnHoverBox>
</div>

@code {
    [Parameter]
    public DateTime Date { get; set; }

    [Parameter]
    public int Month { get; set; }

    [Parameter]
    public List<Event> Events { get; set; }

    [Parameter]
    public int WeekDay { get; set; }

    [Parameter]
    public EventCallback<DateTime> OpenCreateBox { get; set; }

    private string alertStyle => Date.Month == Month ? "alert-light text-dark" : "alert-secondary text-secondary";
    
    #region Удаление события
    private async void DeleteEvent(Event deletedEvent)
    {
        Events.Remove(deletedEvent);
        await _eventsController.DeleteEvent(deletedEvent.Id);
    }
    #endregion
    
    private bool collapseCreateHover = true;
    private void ToggleCreateBtn()
    {
        collapseCreateHover = !collapseCreateHover;
    }
}
