@page "/"

<div class="text-center mt-lg-4">
    <h1 class="display-2">Организуйте вашу жизнь.</h1>
</div>

<div class="d-flex justify-content-xl-center pt-5 mt-5">
    <h2 class="text-center">  Скоординируйте вашу деятельность.</h2>
    <h2 class="text-center">Станьте более собранным</h2>
    <h2 class="text-center">Не держите все задачи в голове</h2>
</div>

<div class="text-center mt-lg-4">
    <input type="submit" name="Yes" value="Стать смешариком" />
</div>